<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snake</title>
    <link rel="stylesheet" href="stylesheets/breakout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Geo&display=swap" rel="stylesheet">
    <script type="text/javascript" src="js/breakout.js"></script>
</head>

<body>

    <div id="container">
        <h1>SNAKE</h1>

        <canvas id="my_canvas" width="800px" height="600px" style="border:1px solid black">Your browser doesn't support the HTML5 canvas tag</canvas>
    </div>
</body>

</html>